{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsdocSingleLineComment": false,
  "plugins": ["prettier-plugin-jsdoc"],
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none"
}
